{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": ["./tsconfig.eslint.json"]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
      "semi": ["error", "always"],
      "@typescript-eslint/no-this-alias": [
        "error",
        {
          "allowedNames": ["self"]
        }
      ]
    },
    "ignorePatterns": ["src/schema/**", "src/dist/*"]
}
